$font-size: 14px;
$bg-color: #686867;
$fg-color: #000;

/* Space out content a bit */



html, body {
  background-color: $bg-color;
  width: 100vw;
  height: 100%;
  padding: 0;
  margin: 0;

  font-size: $font-size;

  font-family: baskerville-urw-wide, serif;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;

}

a, a:visited, a:active{
  color: $fg-color;
}

::selection {
  background: #bbbbbb;
}

.caption{
  margin: 0;
  text-align: right;
  font-size: 10px;
  line-height: 12px;
}

#container-wrapper{
  overflow: hidden;
}

#container {

    // position:absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);

    width: 100vw;
    text-align: center;
    overflow: clip;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;

    .wrapper {
      margin-top: 20px;
    }
}
@media screen and (min-width: 400px) {
  #container {
    max-width: 400px;
  }
}

.info {
  opacity: 0;
}

#top{
  img {
    width: 120px;
  }
}

#mask {
  position: relative;
  width: 50%;
  margin: auto;
  // background-color: yellow;

  img {
    width: 100%;
  }
  #static {
    opacity: 0;
  }
  #ghost{
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    // background-color: yellow;
    #loading {
      font-size: 15px;
      color: #64b984;
    }
  }
}

#bottom {
  width: 50%;
  margin: auto;

  #beware {
    font-weight: 600;
    border: 2px solid black;
  }
}

#info-section {
  height: 20px;
  width: 50%;
  margin: auto;
  overflow: hidden;

  #info-button, #info-button:focus, #info-button:active{
    text-decoration: underline;
    background-color: rgba(0,0,0,0);
    border: none;
    cursor: crosshair;
    font-size: $font-size;
    outline: none;
  }
}

#analyser {
  position: fixed;
  top: 10;
  left: 10;
}
